.footer {
  background: -o-linear-gradient(top, #0a2850 0%, #071931 100%);
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  color: #fff;
  padding: 60px 100px 60px 80px;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__logo {
  width: 116px;
  height: 21px;
}

.footer__social-heading {
  margin: 0 0 20px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.footer__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer__list-item {
  margin-top: 16px;
}

.footer__social-link {
  color: white;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  -webkit-transition: color 0.4s ease-in-out 0s;
  -o-transition: color 0.4s ease-in-out 0s;
  transition: color 0.4s ease-in-out 0s;
}

.footer__social-link:hover {
  color: #c1c1c1;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.footer__copyright {
  margin: 108px 0 0;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
}
