* {
  margin: 0;
  padding: 0;
}

.nav {
}

.nav__logo {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 125px;
  height: 142px;
}

.nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  gap: 20px;
}

.nav__link {
  color: #000;
  text-decoration: none;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  -webkit-transition: color 0.4s ease-in-out 0s;
  -o-transition: color 0.4s ease-in-out 0s;
  transition: color 0.4s ease-in-out 0s;
}

.nav__link:hover {
  color: #2f80ed;
}
