.recipes {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  min-height: 720px;
  max-height: 866.5px;
  padding: 100px 80px 215px;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
}

.recipes__title {
  margin: 0;
  max-width: 580px;
  padding-bottom: 24px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  margin: 0;
  max-width: 438px;
  padding-bottom: 80px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 40px;
}

.recipes__video {
  position: relative;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: none;
}

.recipes__video-caption {
  margin: 0;
  padding-top: 24px;
  display: flex;
  justify-content: space-between;
}

.recipes__video-paragraph {
  margin: 0;
}
