.reservation {
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px 80px 120px;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.reservation__title {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  text-align: center;
  margin: 0;
  padding: 0 0 80px;
}

.reservation__form {
  max-width: 385px;
}
